//
// UFxD 2015 Variables
// --------------------------------------------------

//-- Iconography
//
$icon-font-path: "fonts/bootstrap/" !default;



//== Embassy Colours
//

$emb-eng:           #0090d3 !default;
$emb-sum:           #ed6a00 !default;
$emb-aca:           #73155f !default;
$emb-dark:			#2c323d !default;
$emb_lighter_grey:	#eff0f0 !default;
$emb_lighter_grey_dark:	#e8e9e9 !default;
$emb_light_grey: 	#b8b9b9 !default;
